/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=3271o0kmp00twp5twp5Kr5xWI00 */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

/* Main Primary color */
.green { color: #A2C10F }
.green2 { color: #232A00 }


	/* Main Secondary color (1) */
.blue { color: #134D81 }
.blue2 { color: #01101C }

	/* Main Secondary color (2) */
.orange { color: #C87810 }
.orange2 { color: #2C1900 }




/* As RGBa codes */

.rgba-primary-0 { color: rgba(  0,  0,  0,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(162,193, 15,1) }
.rgba-primary-2 { color: rgba(162,193, 15,1) }
.rgba-primary-3 { color: rgba( 35, 42,  0,1) }
.rgba-primary-4 { color: rgba(  0,  0,  0,1) }

.rgba-secondary-1-0 { color: rgba(  0,  0,  0,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba( 19, 77,129,1) }
.rgba-secondary-1-2 { color: rgba( 19, 77,129,1) }
.rgba-secondary-1-3 { color: rgba(  1, 16, 28,1) }
.rgba-secondary-1-4 { color: rgba(  0,  0,  0,1) }

.rgba-secondary-2-0 { color: rgba(  0,  0,  0,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(200,120, 16,1) }
.rgba-secondary-2-2 { color: rgba(200,120, 16,1) }
.rgba-secondary-2-3 { color: rgba( 44, 25,  0,1) }
.rgba-secondary-2-4 { color: rgba(  0,  0,  0,1) }




.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

button:focus {
  outline: 0;
  box-shadow: none!important;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  border-bottom: 1px solid #A2C10F;
  margin: 0px;
}

.headerLogo {
  height: 80px;
  width: 80px;

}

.headerButton {
  background: none;
  border: none;
  color: #134D81;
  margin-left: 5px;
  font-size: 20px;
  
}

.selected {
  border: 1px solid #A2C10F;
  border-radius: 5px;
}




.home {
  height: 100%;
  margin: 0px;
}


.homeSections {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}


.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #A2C10F;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
}







form {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: 1px solid #A2C10F;
  border-radius: 5px;
  margin: auto;
  padding: 50px;
}


.plannerSlide {
  height: 50%;
  width: 60%;
  position: absolute;
  top: 25%;
  left: 20%;
  border: 1px solid #A2C10F;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

}
.slideNav {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  align-items: center;
}

.navButton {
  font-size: 30px;
}
.navButton:hover {
  cursor: pointer;
  
}

.emphasize {
  color:#C87810
}
